* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Nunito;
    src: url('../fonts/Nunito-Bold.ttf');
}

body {
    font-family: Nunito, sans-serif;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, white 50%, #F8F8FA 50%);
}

.header {
    display: flex;
    justify-content: center;
    padding-top: 27px;
    background-color: transparent;
}

.main {
    display: grid;
    grid-template-columns: 550px 550px;
    padding-top: 112px;
    padding-bottom: 191px;
    justify-content: center;
}

.main-img img {
    max-width: 543px;
}

.order {
    display: grid;
    max-width: 492px;
}

.order-title {
    font-size: 36px;
    color: #000000;
    margin-bottom: 22px;
}

.order-text {
    font-size: 22px;
    line-height: 27px;
    color: #636363;
    margin-bottom: 42px;
}

.order-form {
    margin-bottom: 40px;
}

.order-form-label {
    display: block;
    color: #C6C6C4;
    font-size: 16px;
}

.order-form-input {
    box-sizing: border-box;
    height: 35px;
    width: 452px;
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #C6C6C4;
    outline: none;
    font-size: 20px;
    line-height: 27px;
    color: #323232;
    font-family: Nunito, sans-serif;
}

.checkbox {
    display: flex;
}

.checkbox label {
    display: inline-block;
    font-size: 16px;
    color: #636363;
    margin-left: 10px;
    order: 2;
}

input [type="checkbox"] {
    display: inline-block;
    order: 1;
}

.order-active {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.btn {
    padding: 21px 68px 25px 68px;
    background: #DD3142;
    border-radius: 40px;
    border: none;
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 44px;
    cursor: pointer;
}

.order-active-text {
    font-size: 16px;
    color: #636363;
    text-decoration: none;
}

.popup {
   display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.popup-text {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 80%;
    text-align: center;
}

.popup-text button {
    margin-top: 40px;
    margin-bottom: 0;
}